{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'edit_space' | trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        <div class="entity-edit">
            {% include "_admin/space/_partials/space-edit-header.html.twig" %}

            <section class="entity-edit-content mt-4">
                {% set asterisk = '<span class="text-danger">*</span>' %}
                <span class="entity-mandatory-fields">
                    {{ 'view.space-edit.mandatory_fields'|trans({'asterisco': asterisk})|raw }}
                </span>

                {% set areasOfExpertise = [] %}
                {% for area in space.extraFields.areasOfActivity|default([]) %}
                    {% set areasOfExpertise = areasOfExpertise|merge([{ label: area, value: area }]) %}
                {% endfor %}

                {% set tags = [] %}
                {% for tag in space.extraFields.tags|default([]) %}
                    {% set tags = tags|merge([{ label: tag, value: tag }]) %}
                {% endfor %}

                {% set tagOptions = [
                    'Exemplo Tag 1',
                    'Exemplo Tag 2',
                    'Exemplo Tag 3'
                ] %}
                {% set tagItems = [] %}
                {% for option in tagOptions %}
                    {% set tagItems = tagItems|merge([{ label: option, value: option }]) %}
                {% endfor %}

                {% include "_admin/space/_partials/forms/entity-edit-form.html.twig" %}
            </section>

            <div class="entity-edit-submit">
                <div class="delete-archive">
                    <button class="btn btn-outline-light">
                        <i class="iconify fs-3" data-icon="mynaui:trash"></i>
                        {{ 'delete' | trans }}
                    </button>
                    <button class="btn btn-outline-light">
                        <i class="iconify fs-3" data-icon="mingcute:box-2-line"></i>
                        {{ 'archive' | trans }}
                    </button>
                </div>
                <div class="logout-submit">
                    <button class="btn btn-outline-light">{{ 'logout' | trans }}</button>
                    <button type="submit" class="btn btn-light">{{ 'save' | trans}}</button>
                </div>
            </div>

            {% if error is defined and error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
     <script type="module" src="{{ asset('js/_components/tags-selector.js') }}"></script>
{% endblock %}
