<div class="item-card-home bg-white p-4 rounded shadow-sm mt-4">
    <div class="row align-items-center">
        <div class="col-md-3">
            <img src="{{ image_url }}" class="rounded-circle img-fluid profile-image">
        </div>
        <div class="col-md-9 position-relative">
            <div class="d-flex align-items-center justify-content-end">
                <i class="material-icons text-success">{{ status_icon|default('check_circle') }}</i>
                <span>{{ 'view.agent.individual_agents'|trans }}</span>
            </div>
        </div>
    </div>

    <div class="row align-items-start mt-1">
        <div class="d-flex justify-content-between align-items-start">
            <h4 class="fw-bold"> {{ name }}</h4>
        </div>
    </div>

    <p class="text-bold fw-bold mt-1">{{ short_bio }}</p>
    <p class="text-muted">{{ long_bio }}</p>
    <h6 class="fw-bold mt-4">{{ 'social_media'|trans }}:</h6>
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center mb-1">
            <i class="material-icons size-18 me-2 text-secondary">mail</i>
            <span class="text-danger fw-bold">{{ email }}</span>
        </div>
        <div class="d-flex align-items-center">
            <i class="material-icons size-18 me-2 text-secondary">camera_alt</i>
            <span class="text-danger fw-bold">{{ instagram }}</span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md position-relative">
            <a href="{{ path('web_agent_getOne', { id: agent.id }) }}" class="btn btn-primary d-flex align-items-center justify-content-center">
                <span class="fw-bold">{{ 'check'|trans }}</span>
                <i class="material-icons ms-3">arrow_forward</i>
            </a>
        </div>
    </div>
</div>