<section class="card card-body shadow">
    <h3>{{ 'introduction' | trans }}</h3>
    <hr>

    <p class="d-flex align-items-center gap-2 mb-1">
        <i class="material-icons text-primary">location_on</i>
        <strong class="text-dark">{{ 'address' | trans }}:</strong>
        <span class="text-dark">
            {% if agent.addresses is defined and agent.addresses is not empty %}
                {{ agent.addresses|first.getCompleteAddress()|default('') }}
            {% else %}
                {{ 'available_address' | trans }}
            {% endif %}
        </span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-1">
        <i class="material-icons text-primary">work</i>
        <strong class="text-dark">{{ 'view.agent_profile.roles_in_culture' | trans }} ({{ agent.culturalFunction|length }}):</strong>
        <span class="text-dark">
            {% for func in agent.culturalFunction %}
                {{ func.name }}{% if not loop.last %}, {% endif %}
            {% else %}
                {{ 'not_informed' | trans }}
            {% endfor %}
        </span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-1">
        <i class="material-icons text-primary">description</i>
        <strong class="text-dark">{{ 'description' | trans }}:</strong>
        <span class="text-dark">{{ agent.longBio ?? ('not_informed' | trans) }}</span>
    </p>

    <div class="entity-seals mt-2 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-wrap gap-2">
            <strong class="text-dark">{{ 'tags' | trans }}:</strong>
            {% if agent.extraFields.tags is defined and agent.extraFields.tags is not empty %}
                {% for tag in agent.extraFields.tags %}
                    <span class="seal-entity px-3 py-1">{{ tag }}</span>
                {% endfor %}
            {% else %}
                <span class="seal-entity px-3 py-1">{{ 'no_tags' | trans }}</span>
            {% endif %}
        </div>
    </div>
</section>
