<section class="card card-body mt-4">
    <h3>{{ 'social_media' | trans }}</h3>
    <hr>
    <div class="d-flex gap-3 mt-2">
        {% if agent.socialNetworks is empty %}
            <p class="text-muted">{{ 'not_informed' | trans }}</p>
        {% endif %}

        {% for network, value in agent.socialNetworks %}
            {% if value != '' %}
            <div class="social-media-wrapper">
                <div class="social-media">
                    <div class="social-link">
                        <span class="iconify" data-icon="ph:{{ network }}-logo-light" style="font-size: 1.9rem;"></span>
                        <a href="https://www.{{ network }}.com/{{ value }}" target="_blank" class="text-decoration-none fw-bold">
                            {{ network }}
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
