<div class="tab-pane container active" id="generalData">
    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'introduction' | trans }}</h5>

            <div class="row">
                <div class="col">
                    <label data-cy="event-cultural-languages" class="fw-bold mb-2">{{ 'cultural_languages' | trans }}</label>
                    <p>
                        {% if event.culturalLanguages is not empty %}
                            {% for culturalLanguage in event.culturalLanguages %}
                                <span class="text__entity-details fw-bold">{{ culturalLanguage.name }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">Tags ({{ event.tags|length }}) <i class="material-icons text-primary fs-5 align-top">help</i></label>
                    <p>
                        {% if event.tags is not empty %}
                            {% for tag in event.tags %}
                                <span class="text__entity-details fw-bold">{{ tag.name|upper }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label data-cy="event-description" class="fw-bold mb-2">{{ 'description' | trans }}</label>
                    <p>
                        {% if event.longDescription %}
                            {{ event.longDescription }}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">Site</label>
                    <p>
                        {% if event.site %}
                            <a class="text-decoration-none fw-bold" href="{{ event.site }}" target="_blank">{{ event.site }}</a>
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">{{ 'phone' | trans }}</label>
                    <p>{{ event.phoneNumber ?? ('not_informed' | trans) }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            {% include "_components/_show/social-media.html.twig" with { 'entity': event } %}
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'other_information' | trans }}</h5>

            <hr class="mb-4">

            <h6 class="fw-bold mb-4">{{ 'local' | trans }}</h6>
            <span class="d-flex align-items-center fw-bold">
                {% if event.space %}
                    {% if event.space.image %}
                        <img src="{{ event.space.image }}" alt="{{ event.space.name }}" class="rounded-circle card-names-ellipse__entity-details" style="object-fit: cover;">
                    {% else %}
                        <div class="rounded-circle card-names-ellipse__entity-details"></div>
                    {% endif %}
                    <span data-cy="event-location"><a class="text-decoration-none" href="#">{{ event.space.name }}</a></span>
                {% else %}
                    <div class="rounded-circle card-names-ellipse__entity-details"></div>
                    {{ 'not_informed' | trans }}
                {% endif %}
            </span>
        </div>
    </div>

    {% include "_components/_show/report-btns.html.twig" %}
</div>
