<button type="button" class="btn btn-outline-success btn-outline__entity-details fw-bold p-2 ms-2">
    <i class="material-icons fs-4 me-2">share</i> {{ 'share'|trans }}
</button>
<button type="button" class="btn btn-outline-success btn-outline__entity-details fw-bold p-2 ms-2">
    <i class="material-icons fs-4 me-2">messenger</i> {{ 'send_message'|trans }}
</button>
{% if actions is defined %}
    {% for action in actions %}
        {% if action.disabled is defined and action.disabled %}
            <span
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{{ action.tooltip|trans({'{date}': action.date}) }}">
                <button
                    type="button"
                    class="btn btn-primary fw-bold p-2 ms-2"
                    disabled
                >
                    <i class="material-icons fs-4 me-2">{{ action.icon }}</i> {{ action.key|trans }}
                </button>
            </span>
        {% elseif action.requiresConfirmation is defined and action.requiresConfirmation %}
            <button
                type="button"
                class="btn btn-primary fw-bold p-2 ms-2"
                data-bs-toggle="modal"
                data-bs-target="#subscribeConfirmModal"
            >
                <i class="material-icons fs-4 me-2">{{ action.icon }}</i> {{ action.key|trans }}
            </button>
        {% else %}
            <a href="{{ action.path }}" class="btn btn-primary fw-bold p-2 ms-2">
                <i class="material-icons fs-4 me-2">{{ action.icon }}</i> {{ action.key|trans }}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
