{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'home'|trans}} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/homepage.css') }}">
{% endblock %}

{% block content %}

{% if env.aurora.homepage.sections.banner.enabled == "true" %}
    <div style="height: 500px; background: url('{{ env.aurora.homepage.sections.banner.image }}'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row align-items-center justify-content-center p-3">

            </div>
        </div>
    </div>
{% endif %}

{% if env.aurora.homepage.sections.header.enabled == "true" %}
    <div class="{{ env.aurora.homepage.sections.header.background ?? 'bg-primary' }}">
        <div class="container">
            <div class="row align-items-center justify-content-center p-3">
                <div class="col-md-5 text-white">
                    <h1><strong>
                        {{ env.aurora.homepage.sections.header.title ?? 'view.homepage.title'|trans }}
                        </strong></h1>
                    <p class="lead mt-3 fw-bold">{{ env.aurora.homepage.sections.header.subtitle ?? 'view.homepage.subtitle'|trans }}</p>
                    <p class="lead mt-2">{{ env.aurora.homepage.sections.header.description ?? 'view.homepage.header_text'|trans }}</p>
                    {% if env.aurora.homepage.sections.header.action is defined %}
                        <a class="btn btn-lg btn-primary w-100 mt-4" href="{{ path(env.aurora.homepage.sections.header.action.route) }}">{{ env.aurora.homepage.sections.header.action.title }}</a>
                    {% endif %}
                </div>
                <div class="col-md-7 mt-4 text-end">
                    <img src="{{ asset(env.aurora.homepage.sections.header.image ?? 'img/pessoas-home.png') }}" width="{{ env.aurora.homepage.sections.header.image_width ?? '100%' }}" alt="{{ 'illustration'|trans }}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if env.aurora.homepage.sections.register.enabled == "true" and not app.user %}
    <div class=" text-white py-5" style="background-color: {{ env.aurora.homepage.sections.register.color }}">
        <div class="container pb-5">
            <div class="row text-start">
                <div class="col-md-12">
                    <h1 class="fw-bold mt-4">{{ 'create_account'|trans }}</h1>
                    <p class="lead mt-3">{{ 'view.homepage.registration_info'|trans }}</p>
                    <div>
                        <a href="{{ path('web_auth_register') }}"
                           class="col-sm-3 mx-auto btn btn-light btn-lg text-secondary icon-link justify-content-between mt-5">
                            <h4 class="fw-bold mt-2 text-uppercase">{{ 'register'|trans }}</h4>
                            <span class="material-icons fs-2">arrow_forward</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if env.aurora.homepage.sections.opportunities.enabled == "true" %}
    <section class="bg-rose text-dark py-5">
        <div class="container pb-5">
            <div class="row text-start">
                <div class="col-md-12">
                    <h1 class="fw-bold mt-4">{{ 'view.homepage.check_opportunities'|trans }}</h1>
                    <p class="lead mt-3">{{ 'view.homepage.discover_open_notice'|trans }}</p>
                </div>

                <div class="row mt-3 gy-3 pe-0 align-items-center">
                    <div class="col-12 col-md-auto flex-grow-1" style="max-width: 400px;">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 rounded-start-pill ps-4 input-no-focus" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn bg-white text-dark border-0 rounded-end-pill px-3" type="button">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-between align-items-center">
                        <button class="btn btn-light text-primary d-flex align-items-center justify-content-center gap-1 rounded-pill btn-filter-custom" type="button">
                            <i class="material-icons" style="font-size: 1.2rem;">filter_alt</i> Filtrar
                        </button>
                        <div class="text-end text-nowrap">
                            <button class="btn btn-light text-primary rounded-circle me-2 btn-carousel-custom" type="button" data-bs-target="#opportunitiesCarousel" data-bs-slide="prev" aria-label="Anterior">
                                <i class="material-icons">chevron_left</i>
                            </button>
                            <button class="btn btn-light text-primary rounded-circle btn-carousel-custom" type="button" data-bs-target="#opportunitiesCarousel" data-bs-slide="next" aria-label="Próximo">
                                <i class="material-icons">chevron_right</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="opportunitiesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner d-flex gap-5">
                    {% for opportunity in opportunities %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            {% include "_components/opportunity-card-home.html.twig" with {
                                'status_icon': 'check_circle',
                                'status_text': 'Inscrições abertas',
                                'image_url': asset(opportunity.image ?? 'img/img.png'),
                                'image_alt': opportunity.name ?? 'Sem imagem',
                                'title': opportunity.name,
                                'phases': opportunity.phases,
                                'description': opportunity.description,
                                'social_medias_count': opportunity.socialNetworks.count ?? 0,
                                'social_medias': opportunity.socialNetworks|map(s => s),
                                'phases_count': opportunity.phases.count,
                                'badges_count': 0,
                                'badges': '0',
                                'link_url': path('web_opportunity_details', {id: opportunity.id}),
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if env.aurora.homepage.sections.modules.enabled == "true" %}
<section class="py-5">
    <div class="container pb-5">
        <div class="row text-start">
            <h1 class="fw-bold mt-4 text-dark">{{ 'view.homepage.entities'|trans }} {{ env.aurora.name }}</h1>

            {% if (env.aurora.modules.opportunities != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-opportunities.png'),
                    'entity': env.aurora.modules.opportunities ?? 'opportunities'|trans,
                    'entityColor': 'var(--navlink-opportunity)',
                    'textEntity': 'view.homepage.register_access'|trans,
                    'path': path('web_opportunity_list')
                } %}
            {% endif %}

            {% if (env.aurora.modules.events != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-events.png'),
                    'entity': env.aurora.modules.events ?? 'events'|trans,
                    'entityColor': 'var(--navlink-event)',
                    'textEntity': 'view.homepage.search_calendar'|trans,
                    'path': path('web_event_list')
                } %}
            {% endif %}

            {% if (env.aurora.modules.spaces != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-spaces.png'),
                    'entity': env.aurora.modules.spaces ?? 'spaces'|trans,
                    'entityColor': 'var(--navlink-space)',
                    'textEntity': 'view.homepage.discover_places'|trans,
                    'path': path('web_space_list')
                } %}
            {% endif %}

            {% if (env.aurora.modules.agents != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-agents.png'),
                    'entity': env.aurora.modules.agents ?? 'agents'|trans,
                    'entityColor': 'var(--navlink-agent)',
                    'textEntity': 'view.homepage.register_artists'|trans,
                    'path': path('web_agent_list')
                } %}
            {% endif %}

            {% if (env.aurora.modules.initiatives != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-projects.png'),
                    'entity': env.aurora.modules.iniatives ?? 'initiatives'|trans,
                    'entityColor': 'var(--navlink-initiative)',
                    'textEntity': 'view.homepage.find_initiatives'|trans,
                    'path': path('web_initiative_list')
                } %}
            {% endif %}

            {% if (env.aurora.modules.organizations != '' ) %}
                {% include "_components/intro-card.html.twig" with {
                    'urlImg': asset('img/home-contribua.png'),
                    'entity': env.aurora.modules.organizations ?? 'initiatives'|trans,
                    'entityColor': 'var(--navlink-organization)',
                    'textEntity': 'view.homepage.find_initiatives'|trans,
                    'path': path('web_initiative_list')
                } %}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}

{% if env.aurora.homepage.sections.happen_now.enabled == "true" %}
    <section id="happening-now" class="bg-aqua text-dark py-5">
        <div class="container pb-5">
            <div class="row text-start">
                <div class="col-md-12 d-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="fw-bold mt-4">{{ 'happening_now'|trans }}</h1>
                        <p class="lead mt-3">{{ 'view.homepage.cultural_scene'|trans }}</p>
                    </div>

                    <div class="col-4 col-sm-3 text-end mt-4">
                        <button id="btn-card-prev" class="btn btn-light text-primary rounded-circle me-md-2 btn-carousel-homepage" type="button">
                            <i class="material-icons">chevron_left</i>
                        </button>
                        <button id="btn-card-next" class="btn btn-light text-primary rounded-circle btn-carousel-homepage" type="button">
                            <i class="material-icons">chevron_right</i>
                        </button>
                    </div>
                </div>

                {% set agents_content = agents|map(
                    agent => include('homepage/_partials/cards/item-agent.html.twig', {
                        'icon': 'person',
                        'status_text': agent.status_text ?? 'Individual',
                        'image_url': asset('img/user.png'),
                        'image_alt': agent.name ?? 'Sem foto',
                        'name': agent.name ?? 'Sem nome',
                        'areas_of_expertise_count': 0,
                        'areas_of_expertise': 'Música, Cultura Popular, Tradições Locais',
                        'seals_count': 2,
                        'seals': '+2',
                    })
                ) %}

                {% set events_content = events|map(
                    event => include('homepage/_partials/cards/item-event.html.twig', {
                        'status_icon': 'event',
                        'image_url': event.image ? asset(event.image) : asset('img/home-events.png'),
                        'image_alt': event.name ??' Imagem não disponível',
                        'title': event.name ?? 'Sem título',
                        'date': event.endDate ? event.startDate|date('d/m/Y') ~ ' até ' ~ event.endDate|date('d/m/Y') : event.startDate|date('d/m/Y') ~ ' - ' ~ event.startDate|date('H:i'),
                        'location': event.space ? event.space.name : 'Sem local informado',
                        'description': event.shortDescription ?? 'Sem descrição disponível',
                        'interest_areas_count': event.activityAreas|length,
                        'interest_areas': event.activityAreas|map(a => a.name)|join(', '),
                        'tags_count': event.tags|length,
                        'tags': event.tags|map(a => a.name)|join(', '),
                    })
                ) %}

                {% set initiatives_content = initiatives|map(
                    initiative => include('homepage/_partials/cards/item-initiative.html.twig', {
                        'status_icon': 'check_circle',
                        'status_text': initiative.status_text ?? 'Iniciativa',
                        'image_url': asset('img/user.png'),
                        'image_alt': initiative.name ?? 'Imagem não disponível',
                        'title': initiative.name ?? 'Sem título',
                        'type': 'CICLO',
                        'registration_period': 'Sem período de inscrição',
                        'description': 'Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...',
                        'tags_count': 4,
                        'tags': 'Festival, Música, Cultura, Edição 2024',
                        'seals_count': 2,
                        'seals': '+2',
                    })
                ) %}

                {% set opportunities_content = opportunities|map(
                    opportunity => include('homepage/_partials/cards/item-opportunity.html.twig', {
                        'status_icon': 'visibility',
                        'status_text': 'Oportunidades',
                        'image_url': asset(opportunity.image ?? 'img/img.png'),
                        'image_alt': opportunity.name ?? 'Sem imagem',
                        'title': opportunity.name,
                        'phases': opportunity.phases,
                        'description': opportunity.description,
                        'social_medias_count': opportunity.socialNetworks.count ?? 0,
                        'social_medias': opportunity.socialNetworks|map(s => s),
                        'phases_count': opportunity.phases.count,
                        'badges_count': 0,
                        'badges': '0',
                        'link_url': path('web_opportunity_details', {id: opportunity.id}),
                    })
                ) %}

                {% set spaces_content = spaces|map(space =>
                    include('homepage/_partials/cards/item-space.html.twig', {
                        'space': space,
                        'image_url': space.image,
                        'image_alt':  'no_image' | trans ,
                        'title': space.name ?? 'no_titlçe' | trans,
                        'type': space.spaceType ? space.spaceType.name : 'no_type' | trans ,
                        'location': space.address ? space.address.getCompleteAddress() : 'no_address' | trans,
                        'description': space.shortDescription ?? 'no_description' | trans,
                        'interest_areas_count': space.activityAreas|length,
                        'interest_areas': space.activityAreas|map(a => a.name)|join(', '),
                        'tags_count': space.tags|length,
                        'tags': space.tags|map(t => t.name)|join(', '),
                        'site': space.site ?? 'no_site' | trans,
                        'status_icon': 'public'
                    })
                ) %}

                {% set all_content = agents_content|merge(events_content)|merge(initiatives_content)|merge(opportunities_content)|merge(spaces_content) %}

                {% set tabs = [
                    {
                        'id': '1',
                        'title': 'all'|trans,
                    },
                    {
                        'id': '2',
                        'title': 'agents'|trans,
                    },
                    {
                        'id': '3',
                        'title': 'events'|trans,
                    },
                    {
                        'id': '4',
                        'title': 'initiatives'|trans,
                    },
                    {
                        'id': '5',
                        'title': 'opportunities'|trans,
                    },
                    {
                        'id': '6',
                        'title': 'spaces'|trans,
                    },
                ] %}
                {% include '_components/tabs/tab.html.twig' with { 'tabs': tabs } %}

                {% set tabs = [
                    {
                        'id': '1',
                        'content': all_content
                    },
                    {
                        'id': '2',
                        'content': agents_content
                    },
                    {
                        'id': '3',
                        'content': events_content
                    },
                    {
                        'id': '4',
                        'content': initiatives_content
                    },
                    {
                        'id': '5',
                        'content': opportunities_content
                    },
                    {
                        'id': '6',
                        'content': spaces_content
                    }
                ] %}

                {% include '_components/tabs/content-tabs.html.twig' with { 'tabs': tabs } %}
            </div>
        </div>
    </section>
{% endif %}

{% if env.aurora.homepage.sections.contribute.enabled == "true" %}
    <section id="" class="contribute-maps text-white py-5">
        <div class="container pb-5">
            <div class="row text-start">
                <div class="col-12 col-md-8">
                    <h1 class="fw-bold mt-4">{{ 'view.homepage.contribute_aurora'|trans }}</h1>
                    <p class="lead mt-3">{{ 'view.homepage.add_events'|trans }}</p>

                    <a href="https://github.com/secultce/aurora" class="btn btn-light btn-lg text-red-dark d-inline-flex align-items-center gap-2 px-4 py-3 mt-4 shadow-sm text-decoration-none">
                        <span class="fw-bold text-uppercase fs-5">{{ 'start_now'|trans }}</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if env.aurora.homepage.sections.maps.enabled == "true" %}
    <section class="{{ env.aurora.homepage.sections.maps.background ?? 'bg-body' }} {{ env.aurora.homepage.sections.maps.color ?? 'text-dark' }} py-5">
        <div class="container pb-5">
            <div class="row text-start">

                <div class="col-12">
                    <h1 class="fw-bold mt-4">{{ 'locate_yourself'|trans }}</h1>
                    <p class="lead mt-3">{{ 'view.homepage.find_nearby'|trans }}</p>
                </div>

                <div class="col-12 mt-4">
                    <div class="ratio ratio-21x9 rounded-3 shadow-sm overflow-hidden">
                        <iframe src="https://maps.google.com/maps?q=Fortaleza&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if env.aurora.homepage.sections.contribute.enabled == "true" %}
    <section class=" text-dark align-items-center justify-content-center py-5">
        <div class="container pb-5">
            <div class="text-center">
                <div class="col-md-auto">
                    <span class="material-icons fw-bold fs-1 mt-2">code</span>
                    <h1 class="fw-bold mt-2">{{ 'view.homepage.free_software_info'|trans }}</h1>
                    <p class="lead mt-4">{{ 'view.homepage.api_info'|trans }}</p>
                    <a href="https://github.com/ecossistema-aurora/aurora" target="_blank" class="centered-icon-text nav-link text-moss mt-4">
                        <span class="ms-3 font-size-14 me-2">{{ 'explore_repository'|trans }}</span>
                        <img src="{{ asset('img/icone-github-dark.png') }}">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}

