<form id="filter-sidebar" class="sidebar" method="GET" action="">
    <div class="close-filter">
        <span class="d-flex gap-3">
          <i class="material-icons text-primary">filter_alt</i>
          <span class="align-self-center fw-bold">{{ 'filter' | trans }}</span>
        </span>
        <i id="close-filter" class="material-icons close-filter-btn">close</i>
    </div>

    <div class="filter-fields">
        <div class="form-group">
            <label class="filter-label">{{ 'period' | trans }}</label>
            <div class="d-flex align-items-center gap-2">
                <input type="date" class="filter-form" id="period_start" name="period[start]" title="{{ 'start_date'|trans }}">
                <span>-</span>
                <input type="date" class="filter-form" id="period_end" name="period[end]" title="{{ 'end_date'|trans }}">
            </div>
        </div>

        <div class="mb-2">
            <input type="checkbox" id="official-events" name="official-events" value="official-events">
            <label for="official-events" class="fw-bold">{{ 'official_events' | trans }}</label>
        </div>

        <div class="form-group">
            <label for="event-name" class="filter-label">{{ 'name_event' | trans }}</label>
            <input type="text" class="filter-form" id="event-name" name="name" placeholder="">
        </div>

        <div class="form-group">
            <label for="event-cultural-languages" class="filter-label">{{ 'cultural_language' | trans }}</label>
            <select class="filter-form" id="event-cultural-languages" name="culturalLanguages">
                <option value="">{{ 'select' | trans }}</option>
                {% for language in languages %}
                    <option value="{{ language.id }}">{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="age-rating" class="filter-label">{{ 'age_rating' | trans }}</label>
            <select class="filter-form" id="age-rating" name="ageRating">
                <option value="">{{ 'select' | trans }}</option>
                {% for ageRating in ageRatings %}
                    <option value="{{ ageRating.value }}">{{ ('age_rating.' ~ ageRating.value|lower|replace({' ': '_'}) ) | trans }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="tags" class="filter-label">{{ 'tags' | trans }}</label>
            <select class="filter-form" id="tags" name="tags">
                <option value="">{{ 'select' | trans }}</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="state" class="filter-label">{{ 'state' | trans }}</label>
            <select class="filter-form" id="state" name="state">
                <option value="">{{ 'select' | trans }}</option>
                {% for state in states %}
                    <option value="{{ state.id }}">{{ state.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="city" class="filter-label">{{ 'city' | trans }}</label>
            <select class="filter-form" id="city" name="city">
                <option value="">{{ 'select' | trans }}</option>
            </select>
        </div>

        <div class="d-flex flex-column gap-2">
            <button id="apply-filters" type="submit" class="btn btn-primary fw-bold py-3">{{ 'apply_filter' | trans }}</button>
            <a href="{{ path("web_event_list") }}" class="btn btn-outline-primary py-3 fw-bold">{{ 'clean_filter' | trans }}</a>
        </div>
    </div>
</form>

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/side-filter.js') }}"></script>
    <script type="module" src="{{ asset('js/period-filter-validation.js') }}"></script>
    <script type="module" src="{{ asset('js/load-cities.js') }}"></script>
{% endblock %}
