<section class="card card-body shadow">
    <h3>Mais informações</h3>
    <hr>
    <p class="d-flex align-items-center gap-2 mb-2">
        <i class="material-icons text-primary responsive-icon">location_on</i>
        <strong class="visually-hidden">Endereço:</strong>
        <span class="text-dark">
            {% if space.address is defined and space.address is not empty %}
                {{ space.address.getCompleteAddress()|default('') }}
            {% else %}
                {{ 'available_address' | trans }}
            {% endif %}
        </span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-2">
        <i class="material-icons text-primary responsive-icon">category</i>
        <strong class="text-dark">{{ 'category' | trans }}:</strong>
        <span class="text-dark">{{ space.shortDescription ?? 'available_description' | trans }}</span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-2">
        <i class="material-icons text-primary responsive-icon">group</i>
        <strong class="text-dark">{{ 'Capacidade' | trans }}:</strong>
        <span class="text-dark">{{ space.maxCapacity ?? 'available_description' | trans }}</span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-2">
        <i class="material-icons text-primary responsive-icon">work</i>
        <strong class="visually-hidden">{{ 'areas_of_expertise' | trans }} ({{ space.activityAreas|length }}):</strong>
        <span class="fw-bold space-card__areas text-dark">
            {% for area in space.activityAreas %}
                {{ area.name }}{% if not loop.last %}, {% endif %}
            {% else %}
                {{ 'no_areas' | trans }}
            {% endfor %}
        </span>
    </p>

    <p class="d-flex align-items-center gap-2 mb-2">
        <i class="material-icons text-primary responsive-icon">accessibility_new</i>
        <strong class="visually-hidden">{{ 'accessibility' | trans }}:</strong>
        <span class="text-dark">
            {% for acc in space.accessibilities %}
                {{ acc.name }}{% if not loop.last %}, {% endif %}
            {% else %}
                {{ 'no_accessibility' | trans }}
            {% endfor %}
        </span>
    </p>

    <div class="entity-seals mt-3 d-flex flex-wrap align-items-center gap-2">
        <strong class="text-dark">{{ 'tags' | trans }}:</strong>
        {% for tag in space.tags %}
            <span class="seal-entity px-3 py-1">{{ tag.name }}</span>
        {% else %}
            <span class="seal-entity px-3 py-1">{{ 'no_seals' | trans }}</span>
        {% endfor %}
    </div>
</section>
