<form method="POST" id="organization-edit-form" class="entity-form-edit" enctype="multipart/form-data">
    <div class="manage-people d-flex flex-column shadow-sm mb-4">
        <span class="fw-bold fs-6">Pessoas ({{ organizationAgents|length }})</span>

        <div class="mt-3">
            {% for agent in availableAgents %}

                {% set isChecked = organizationAgents.contains(agent) ? 'checked' : '' %}

                <div class="form-check mt-2 d-flex align-items-center gap-2">
                    <input class="form-check-input" type="checkbox" name="agent_ids[]" value="{{ agent.id }}" id="agent_{{ agent.id }}" {{ isChecked }}>
                    <label class="form-check-label d-flex align-items-center gap-2" for="agent_{{ agent.id }}">
                        <span class="fw-bold fs-6 text-primary">{{ agent.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>

    {% set asterisk = '<span class="text-danger">*</span>' %}
    <span class="entity-mandatory-fields">{{ 'mandatory_fields'|trans({'asterisco': asterisk})|raw }}</span>

    <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
    <div class="accordion accordion-flush accordion-cards mt-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    {{ 'presentation_information' | trans }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <span class="responsive-size">{{ 'public_data_notice' | trans }}</span>
                    <hr>
                    {% include "_admin/organization/_partials/forms/introduction.html.twig" %}
                </div>
            </div>
        </div>

        <div class="accordion-item mt-4 mb-4">
            <h2 class="accordion-header">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    {{ 'view.organization.data' | trans }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% set bold = '<span class="fw-bold">' ~ ('no'|trans|lower) ~ '</span>' %}
                    <span class="responsive-size">{{ 'private_data_notice'|trans({'%no%': bold})|raw }}</span>
                    <hr>
                    {% include "_admin/organization/_partials/forms/organization-data.html.twig" %}
                </div>
            </div>
        </div>

        <div class="accordion-item mt-4 mb-4">
            <h2 class="accordion-header">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    {{ 'social_media' | trans }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <span class="responsive-size">{{ 'public_data_notice' | trans }}</span>
                    <hr>
                    {% include "_admin/organization/_partials/forms/social-media.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</form>