<div class="container-fluid organization-edit p-0">
    <h5 class="fw-bold">{{ 'general_data'|trans }}</h5>
    <div class="row">
        <div class="col">
            <label for="legal-person" class="form-label required">{{ 'view.organization.is_legal_person'|trans }}</label>
            <span class="iconify entity-edit-icon mb-1 mx-2" data-icon="ri:question-fill"></span>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="organization" type="radio" id="organization-yes" checked>
                    <label class="form-check-label" for="organization-yes">
                        {{ 'yes' | trans }}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="organization" type="radio" id="organization-no">
                    <label class="form-check-label" for="organization-no">
                        {{ 'no' | trans }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label for="private-email" class="form-label">{{ 'private_email' | trans }}</label>
            <input type="text" class="form-control mt-0" id="private-email" placeholder="{{ 'type_here' | trans }}">
            <label for="entity-checkbox" class="form-check-label mt-3">
                <input type="checkbox" class="form-check-input" id="entity-checkbox">
                <span class="ms-2">{{ 'view.organization.show_publicly'|trans }}</span>
            </label>
        </div>
        <div class="col-md-6">
            <label for="private-phone" class="form-label">{{ 'private_phone' | trans }}</label>
            <input type="text" class="form-control mt-0" id="private-phone" placeholder="(00) 00000-0000">
            <label for="entity-checkbox" class="form-check-label mt-3">
                <input type="checkbox" class="form-check-input" id="entity-checkbox">
                <span class="ms-2">{{ 'view.organization.show_publicly'|trans }}</span>
            </label>
        </div>
    </div>

    <hr class="hr">

    <h5 class="fw-bold">
        {{ 'address_data'|trans }}
        <span class="iconify entity-edit-icon mx-2" data-icon="ri:question-fill"></span>
    </h5>
    <div class="row">
        <div class="col my-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="link-platform" type="radio" id="link-platform">
                <label class="form-check-label" for="link-platform">
                    {{ 'view.initiative.link_platform_space' | trans }}
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="register-address" type="radio" id="register-address">
                <label class="form-check-label" for="register-address">
                    {{ 'register_address' | trans }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="is_itinerant" class="form-label">{{ 'view.organization.is_itinerant'|trans }}</label>
            <span class="iconify entity-edit-icon mb-1 mx-2" data-icon="ri:question-fill"></span>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="is_itinerant" type="radio" id="itinerant-yes">
                    <label class="form-check-label" for="itinerant-yes">
                        {{ 'yes' | trans }}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="is_itinerant" type="radio" id="itinerant-no">
                    <label class="form-check-label" for="itinerant-no">
                        {{ 'no' | trans }}
                    </label>
                </div>
            </div>
            <label for="is_itinerant" class="form-check-label mt-2">
                <input type="checkbox" class="form-check-input " id="is_itinerant">
                <span class="ms-2">{{ 'view.organization.show_publicly'|trans }}</span>
            </label>
        </div>
    </div>

    <hr class="hr">
    <h5 class="fw-bold">{{ 'bank_details'|trans }}</h5>

    <div class="row">
        <div class="col-md-6">
            <label for="type-of-bank-account" class="form-label required">
                {{ 'view.organization.bank_account_type_for_payments'|trans }}
            </label>
            <select class="form-select mt-1" id="type-of-bank-account">
                <option selected>{{ 'select'|trans }}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="type-of-bank-account" class="form-label required">
                {{ 'view.organization.bank_number_for_payments'|trans }}
            </label>
            <select class="form-select mt-1" id="type-of-bank-account">
                <option selected>{{ 'select'|trans }}</option>
            </select>
        </div>
    </div>

    <div class="row mt-3 my-4">
        <div class="col-md-4">
            <label class="form-label" for="bank-number">{{ 'view.organization.bank_account_number'|trans }}</label>
            <input type="text" class="form-control mt-1" id="bank-number" placeholder="{{ 'type_here'|trans}}">
        </div>
        <div class="col-md-2">
            <label class="form-label" for="check-digit">{{ 'view.organization.check_digit'|trans }}</label>
            <input type="text" class="form-control mt-1" id="check-digit" placeholder="{{ 'type_here'|trans}}">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="branch-number">{{ 'view.organization.branch_number'|trans }}</label>
            <input type="text" class="form-control mt-1" id="branch-number" placeholder="{{ 'type_here'|trans}}">
        </div>
        <div class="col-md-2">
            <label class="form-label" for="branch-check-digit">{{ 'view.organization.check_digit'|trans }}</label>
            <input type="text" class="form-control mt-1" id="branch-check-digit" placeholder="{{ 'type_here'|trans}}">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="#" class="text-primary fw-bold text-decoration-none align-items-center" id="other-details">
                <i class="iconify fs-3" data-icon="line-md:plus-circle-filled"></i>
                {{ 'view.organization.add_other_bank_details'| trans|lower }}
            </a>
        </div>
    </div>

    <hr class="hr">

    <h5 class="fw-bold">{{ 'view.organization.organization_income'|trans }}</h5>
    <div class="row">
        <div class="col-md-6">
            <label for="annual_revenue" class="form-label">{{ 'view.organization.annual_revenue'|trans }}</label>
            <select class="form-select mt-1" id="annual_revenue">
                <option selected>{{ 'select'|trans }}</option>
            </select>
        </div>
    </div>
</div>
