<div class="d-flex justify-content-between align-items-end">
    <p class="fw-bold">{{ totalSpaces }} {{ 'view.space.quantity.total' | trans }}</p>
    {% include '_components/order-select.html.twig' %}
</div>

{% for space in spaces %}
    <div class="space-card d-flex flex-column flex-md-row">
        <img src="{{ space.image ? asset(space.image) : asset('img/default.png') }}"
             alt="{{ space.name }}" class="space-img">

        <div class="space-card__content">
            <div class="d-flex justify-content-between align-items-center mb-4 mb-md-2">
                <div class="d-flex flex-column gap-1">
                    <h1 class="space-card__title">{{ space.name ?? 'available_name' | trans }}</h1>
                    <span class="space-card__type">
                        {{ space.spaceType is defined and space.spaceType is not null ? space.spaceType.name : 'available_type' | trans }}
                    </span>
                </div>

                <button class="btn btn-outline-primary" data-id="{{ space.id }}" onclick="copyToClipboard(this)">
                    {{ 'copy_id' | trans }}
                </button>
            </div>

            <div class="space-card__info">
                <p class="mb-3 mb-md-2">
                    {{ space.shortDescription ?? 'available_description' | trans }}
                </p>

                <div class="d-flex gap-2 gap-md-1 mb-3 mb-md-3 align-items-center">
                    <i class="material-icons fs-3">location_on</i>
                    <span>
                        {% if space.address is defined and space.address is not empty %}
                            {{ space.address.street|default('') }},
                            {{ space.address.city.name|default('') }}
                            {{ space.address.state.name|default('') }}
                        {% else %}
                            {{ 'available_address' | trans }}
                        {% endif %}
                    </span>
                </div>

                <div class="mb-3">
                    <span class="fw-bold">{{ 'areas_of_expertise' | trans }} ({{ space.activityAreas|length }}): </span>
                    {% if space.activityAreas is not empty %}
                        <span class="fw-bold space-card__areas">
                            {% for area in space.activityAreas %}
                                {{ area.name }}{% if not loop.last %}, {% endif %}
                            {% else %}
                                {{ 'no_areas' | trans }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center gap-2 mb-3">
                    <i class="material-icons fs-3">accessibility_new</i>
                    <div class="align-self-center">
                        <span class="text-dark fw-bold">{{ 'accessibility' | trans }}:</span>
                        {% for acc in space.accessibilities %}
                            {{ acc.name }}{% if not loop.last %}, {% endif %}
                        {% else %}
                            {{ 'no_accessibility' | trans }}
                        {% endfor %}
                    </div>
                </div>

                <div class="entity-seals">
                    <strong>{{ 'seals' | trans }}:</strong>
                    {% for tag in space.tags %}
                        <p class="seal-entity">{{ tag.name }}</p>
                    {% else %}
                        <p class="seal-entity">{{ 'no_seals' | trans }}</p>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-center justify-content-md-end">
                    <a href="{{ path('web_space_getOne', {'id': space.id }) }}"
                       class="btn btn-primary">
                        {{ 'view.space.access' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% if spaces|length > 10 %}
    <div class="container align-items-center mt-5 mb-5">
        <div class="centered-icon-text card-view-more">
            <i class="material-icons">add_circle_outline</i>
            <button class="btn fw-bold">{{ 'see_more' | trans }}</button>
        </div>
    </div>
{% endif %}