<div class="entity-imgs">
    <div id="banner-preview-box" class="banner" {% if event.coverImage %}style="background-image: url('{{ asset(event.coverImage) }}')"{% endif %}>
        <input type="file" name="coverImage" class="banner-input js-cropper-input" id="banner-input" accept="image/*"
               data-modal-id="modalBannerCrop"
               data-preview="#banner-preview-box"
               data-aspect-ratio="{{ 1920/356 }}"
        />

        <label for="banner-input" class="banner-label">
            <span class="iconify entity-edit-icon me-2" data-icon="tabler:camera-plus"></span>
            {{ 'add_cover_image' | trans }}
        </label>
    </div>

    <div class="profile-pic">
        <label for="profile-input" class="profile-label">
            <img id="profile-img" src="{{ event.image }}" alt="{{ 'photo' | trans }}" class="profile-label">
            <input id="profile-input" type="file" accept="image/*" name="profileImage" />
        </label>
    </div>
</div>

<div class="entity-introduction-data">
    <label for="name" class="required">
        {{ 'name_event' | trans }}
    </label>
    <input type="text"
           class="form-control"
           id="name" name="name"
           value="{{ event.name }}"
           placeholder="{{ 'enter_event' | trans }}"
           required
    >

    <div>
        <label for="subtitle">{{ 'view.event.edit.subtitle' |trans }}</label>
        <input type="text"
               class="form-control"
               id="subtitle" name="subtitle"
               value="{{ event.subtitle }}"
               placeholder="{{ 'type_here' | trans }}"
        >
    </div>

    <div class="my-2">
        {% include '_components/tags-selector.html.twig' with {
            inputName: 'culturalLanguages',
            inputLabel: 'cultural_language'|trans,
            items: culturalLanguageItems|map(culturalLanguage => { 'label': culturalLanguage.name, 'value': culturalLanguage.id }),
            tags: event.culturalLanguages ? event.culturalLanguages|map(culturalLanguage => { 'label': culturalLanguage.name, 'value': culturalLanguage.id }) : [],
            required: false,
            questionFill: true,
        } %}
    </div>

    <div class="my-4">
        {% include '_components/tags-selector.html.twig' with {
            inputName: 'tags',
            inputLabel: 'tags'|trans,
            items: tagItems|map(tag => { 'label': tag.name, 'value': tag.id }),
            tags: event.tags ? event.tags|map(tag => { 'label': tag.name, 'value': tag.id }) : [],
            required: false,
            questionFill: true,
        } %}
    </div>

    <div class="mb-4">
        <label class="form-label" for="event-format">{{ 'type'|trans }}</label>
        <span class="text-danger">*</span>
        <select class="form-select mt-1" id="event-format" name="format" required>
            <option disabled value="">{{ 'select'|trans }}</option>
            {% for type in typeItems %}
                <option value="{{ type.value }}" {% if event.format == type.value %}selected{% endif %}>{{ ('event_format_types.' ~ type.name)|trans }}</option>
            {% endfor %}
        </select>
    </div>

    <label for="short-description">{{ 'short_description' | trans }}</label>
    <textarea class="form-control"
              id="short-description" name="short_description"
              placeholder="{{ 'short_description' | trans }}"
              maxlength="400"
    >{{ event.shortDescription }}</textarea>

    <label for="long-description">{{ 'long_description' | trans }}</label>
    <textarea class="form-control"
              id="long-description" name="long_description"
              placeholder="{{ 'long_description' | trans }}"
    >{{ event.longDescription }}</textarea>


    <div class="d-flex flex-wrap gap-1 gap-md-3">
        <div class="flex-grow-1">
            <label for="site">{{ 'site' | trans }} (URL):</label>
            <input type="text" id="site" name="site" class="form-control" value="{{ event.site }}" placeholder="https://www.site.com">
        </div>
        <div class="flex-grow-1">
            <label for="link-description">{{ 'link_description' | trans }}:</label>
            <input type="text" id="link-description" name="link_description" class="form-control" placeholder="Digite">
        </div>
    </div>
</div>
{% block extra_javascripts %}
    <script src="{{ asset('js/_components/tags-selector.js') }}"></script>
{% endblock %}
