<div class="entity-imgs">
    <div id="banner-preview-box" class="banner" {% if agent.coverImage %}style="background-image: url('{{ asset(agent.coverImage) }}')"{% endif %}>
        <input type="file" name="coverImage" class="banner-input js-cropper-input" id="banner-input" accept="image/*"
               data-modal-id="modalBannerCrop"
               data-preview="#banner-preview-box"
               data-aspect-ratio="{{ 1920/356 }}"
        />

        <label for="banner-input" class="banner-label">
            <span class="iconify entity-edit-icon me-2" data-icon="tabler:camera-plus"></span>
            {{ 'add_cover_image' | trans }}
        </label>
    </div>

    <div class="profile-pic">
        <label for="profile-input" class="profile-label">
            <img id="profile-img" src="{{ agent.image }}" alt="{{ 'photo' | trans }}" class="profile-label">
            <input id="profile-input" type="file" accept="image/*" name="profileImage" />
        </label>
    </div>
</div>

<div class="edit-entity mt-5 pt-4">
    <div>
        <label for="name" class="required">
            {{ 'profile_name' | trans }}
        </label>
        <span class="iconify entity-edit-icon me-2" data-icon="ri:question-fill" ></span>
        <input type="text" class="form-control" id="name" name="name" value="{{ agent.name }}" placeholder="{{ 'profile_name' | trans }}" required>
    </div>

    <div class="mt-4">
        {% include '_components/tags-selector.html.twig' with {
            inputName: 'areas_of_expertise',
            inputLabel: 'areas_of_expertise'|trans,
            items: activityAreaItems|map(function => { 'label': function.name, 'value': function.id }),
            tags: [],
            required: false,
            questionFill: true,
        } %}
    </div>

    <div class="mt-4">
        {% include '_components/tags-selector.html.twig' with {
            inputName: 'roles_in_culture',
            inputLabel: 'roles_in_culture'|trans,
            items: culturalFunctionItems|map(function => { 'label': function.name, 'value': function.id }),
            tags: agent.culturalFunction ? agent.culturalFunction|map(function => { 'label': function.name, 'value': function.id }) : [],
            required: false,
            questionFill: true,
        } %}
    </div>

    <div class="mt-4">
        {% include '_components/tags-selector.html.twig' with {
            inputName: 'tags',
            inputLabel: 'tags'|trans,
            items: tagItems|map(tag => { 'label': tag.name, 'value': tag.id }),
            tags: [],
            required: false,
            questionFill: true,
        } %}
    </div>

    <div class="mt-4">
        <label for="short-description">{{ 'short_description' | trans }}</label>
        <textarea class="form-control" id="short-description" name="short_description" placeholder="{{ 'short_description' | trans }}" maxlength="400" required>{{ agent.shortBio }}</textarea>
    </div>

    <div class="mt-4">
        <label for="long-description">{{ 'long_description' | trans }}</label>
        <textarea class="form-control" id="long-description" name="long_description" placeholder="{{ 'long_description' | trans }}">{{ agent.longBio }}</textarea>
    </div>

    <div class="row mt-4">
        <p class="mb-0 fw-bold">
            {{ 'site' | trans }}
        </p>
        <div class="col-md-6">
            <label class="form-text fw-normal" for="site">Link (URL)</label>
            <input type="text" class="form-control" id="site" name="site" value="{{ agent.extraFields['site'] ?? '' }}" placeholder="https://www.site.com">
        </div>
        <div class="col-md-6">
            <label class="form-text fw-normal" for="link_description">
                {{ 'link_description' | trans }}
            </label>
            <input type="text" class="form-control" id="link_description" name="link_description" value="{{ agent.extraFields['link_description'] ?? '' }}" placeholder="{{ 'type_here' | trans }}">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <label for="public_email">
                {{ 'public_email' | trans }}
            </label>
            <input type="text" class="form-control" id="public_email" name="public_email" value="{{ agent.extraFields['public_email'] ?? '' }}" placeholder="email@email.com">
        </div>
        <div class="col-md-6">
            <label for="public_phone">
                {{ 'public_phone' | trans }} (com DDD)
            </label>
            <input type="text" class="form-control" id="public_phone" name="public_phone" value="{{ agent.extraFields['public_phone'] ?? '' }}" placeholder="(00) 00000-0000">
        </div>
    </div>
</div>

{% include '_components/banner-cropper.html.twig' with {'modalId': 'modalBannerCrop'} %}

{% block extra_javascripts %}
    <script src="{{ asset('js/banner-cropper.js') }}"></script>
    <script src="{{ asset('js/_components/tags-selector.js') }}"></script>
{% endblock %}
