{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'view.organization.edit' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/organization.css') }}">
{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        <div class="entity-edit">
            {% include "_admin/organization/_partials/organization-edit-header.html.twig" %}

            <section class="entity-edit-content mt-4">
                {% include "_admin/organization/_partials/forms/entity-edit-form.html.twig" %}
            </section>

            <div class="entity-edit-submit">
                <div class="delete-archive">
                    <button class="btn btn-outline-light">
                        <i class="iconify fs-3" data-icon="line-md:trash"></i>
                        {{ 'delete' | trans }}
                    </button>
                </div>
                <div class="logout-submit">
                    <a href="{{ path('admin_organization_list') }}" class="btn btn-outline-light">{{ 'logout' | trans }}</a href"{{ path('admin_organization_list') }}>
                    <button form="organization-edit-form" type="submit" class="btn btn-light">{{ 'save' | trans}}</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_javascripts %}
    <script src="{{ asset('js/image-validation.js') }}"></script>
{% endblock %}