{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'control_panel'|trans }} - {{ 'organizations'|trans }} - {{ 'organization'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        {% include '_components/modal-confirm-remove.html.twig' %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow">
                        <div class="d-flex justify-content-between">
                            <h2>{{ 'organization'|trans }} - {{ organization.name }}</h2>
                        </div>

                        <hr>

                        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <div class="d-flex align-items-center">
                                    <a class="centered-icon-text nav-link active" id="pills-info-tab" data-bs-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">
                                        <i class="material-icons">description</i>
                                        <span class="ms-2 font-title">{{ 'informations'|trans }}</span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <div class="d-flex align-items-center">
                                    <a class="centered-icon-text nav-link" id="pills-members-tab" data-bs-toggle="pill" href="#pills-members" role="tab" aria-controls="pills-members" aria-selected="false">
                                        <i class="material-icons">groups</i>
                                        <span class="ms-2 font-title">{{ 'members'|trans }}</span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <div class="d-flex align-items-center">
                                    <a class="centered-icon-text nav-link" id="pills-timeline-tab" data-bs-toggle="pill" href="#pills-timeline" role="tab" aria-controls="pills-map" aria-selected="false">
                                        <i class="material-icons">schedule</i>
                                        <span class="ms-2 font-title">{{ 'timeline'|trans }}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab" tabindex="0">
                                <div class="bd-callout bd-callout-secondary">
                                    <p>
                                        <strong>CNPJ: </strong>{{ organization.extraFields.cnpj ?? '' }}
                                    </p>
                                    <p>
                                        <strong>Email: </strong>{{ organization.extraFields.email ?? '' }}
                                    </p>
                                    <p>
                                        <strong>Site: </strong>{{ organization.extraFields.site ?? '' }}
                                    </p>
                                    <p>
                                        <strong>Telefone: </strong>{{ organization.extraFields.telefone ?? '' }}
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab" tabindex="0">
                                <div class="modal fade" id="modalInvite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'to_invite_agent'|trans }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="{{ path('admin_organization_invite_send', {id: organization.id}) }}" method="post">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="name" class="mb-1">{{ 'name'|trans }}</label>
                                                        <input type="text" class="form-control" id="name" name="name" data-cy="name" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="mb-1">{{ 'email'|trans }}</label>
                                                        <input type="text" class="form-control" id="email" name="email" data-cy="email" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'close'|trans }}</button>
                                                    <button type="submit" class="btn btn-primary">{{ 'to_invite'|trans }}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                {% if app.user.agents.first.id == createdById %}
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modalInvite" class="btn btn-outline-success btn-sm">{{ 'to_invite'|trans }}</a>
                                {% endif %}

                                <table class="js-grid table table-hover table-striped mt-3">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>{{ 'name'|trans }}</th>
                                            {% if app.user.agents.first.id == createdById %}
                                            <th>{{ 'actions'|trans }}</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for agent in organization.agents %}
                                        <tr>
                                            <td>
                                                <a>
                                                    {{ agent.name }}
                                                    {% if agent.id == createdById %}
                                                        <span class="badge bg-primary ms-2">{{ 'creator'|trans }}</span>
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>
                                                {% if app.user.agents.first.id == createdById and agent.id != createdById %}
                                                    <button
                                                            data-cy="remove-{{ loop.index }}"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#modalRemoveConfirm"
                                                            onclick="confirmRemove(this)"
                                                            data-href="{{ path(
                                                                'admin_organization_list'
                                                            ) }}"
                                                            class="btn btn-outline-danger btn-sm"
                                                    >
                                                        {{ 'delete'|trans }}
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade pt-3" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline-tab" tabindex="0">
                                {% include "_components/timeline.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal-confirm-remove.js') }}"></script>
    <script type="module" src="{{ asset('js/modal-timeline.js') }}"></script>
    <script type="module" src="{{ asset('js/grid-init.js') }}"></script>
{% endblock %}
